body
{
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #e11c1c 0%, #2c70d0
    74%);
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.top
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.perspective
{
    width: 100%;
    perspective: 1000px;
}
.card
{
    width: 270px;
    height: 413px;
    margin: auto;
    box-shadow: 0 70px 63px -60px #494848;
    transform-style: preserve-3d;
    transition: transform  0.05s linear;
}
.card  .thumb
{
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.card  .thumb:after
{
 background: inherit;
 content: '';
 display: flex;
 position: absolute;
 left: -60px;
 top: 40px;
 width: 100%;
 height: 108%;
 z-index: -1;
 filter: blur(55px);   
}
.card h2
{
    color: aqua;
    position: relative;
    top: -400px;
    left: -60px;
    font-size: 40px;
    font-weight: 100;
    transform: translateZ(80px);
}
.card h3
{
    
    color: rgb(240, 149, 149);
    position: relative;
    bottom: 180px;
    right: -140px;
    font-size: 37px;
    font-weight: 480;
    transform: translateZ(35px);
}
img
{
    margin: auto;
    display: block;
}

